<!DOCTYPE html>
<html>

<head>
    <title>Shop-Nex User Activation Email</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background-color: #fafafa;
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-size: 16px;
            line-height: 1.5;
            color: #222222;
        }

        a {
            color: #0000;
            text-decoration: none;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            margin-bottom: 24px;
        }

        table td {
            vertical-align: top;
        }

        .email-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .email-header {
            background-color: #0070f3;
            padding: 24px;
            color: #ffffff;
        }

        .email-body {
            background-color: #ffffff;
            padding: 24px;
        }

        .email-footer {
            background-color: #f6f6f6;
            padding: 24px;
        }

        .button {
            display: inline-block;
            background-color: #0070f3;
            color: #ffffff !important;
            padding: 12px 24px;
            border-radius: 4px;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Password Reset Request --- Shop-Nex</h1>
        </div>
        <div class="email-body">
            <p>Hi <%= name %>,</p>
            <p>We recieved a request to reset your password for your shop-nex account.
                if you made this request, Please use the OTP below to reset your
                password:
            </p>
            <h2>
                <%= otp %>
            </h2>
            <p>Please enter this OTP on the password reset page within the next 5 min.</p>
            <p>Best regards,<br />The Shop-Nex Team</p>
        </div>
        <div class="email-footer">
            <p>If you have any questions please contact us at</p>
            <a href="mailto:support@shop-nex.com">support@shop-nex.com</a>
        </div>
    </div>
</body>

</html>